/* Layers */

#define DEF 0
#define COL 1
#define NAV 2
#define FN 3
#define NUM 4
#define MED 5
#define MOUSE 6

#define XXX &none
#define ___ &trans

/* Timing */

#define QUICK_TAP_MS 175

/* Key position groups */

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5// left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5// right hand
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                      // thumbs

/* Bluetooth */

#ifdef CONFIG_WIRELESS
  #define _BT_SEL_KEYS_                                                        \
      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR
#else
  #define _BT_SEL_KEYS_ &trans &trans &trans &trans &trans
#endif

/* Navigation aliases */

#define NAV_LEFT  &mt_home 0   LEFT  // Tap: left  | Long-tap: start of line.
#define NAV_RIGHT &mt_end 0    RIGHT // Tap: right | Long-tap: end   of line.
#define NAV_UP    &mt LC(HOME) UP    // Tap: up    | Long-tap: start of doc.
#define NAV_DOWN  &mt LC(END)  DOWN  // Tap: down  | Long-tap: end   of doc.
#define NAV_BSPC  &mt LC(BSPC) BSPC  // Tap: bspc  | Long-tap: delete word bwd.
#define NAV_DEL   &mt LC(DEL)  DEL   // Tap: del   | Long-tap: delete word fwd.

/* Misc aliases */

#define CANCEL    &kp K_CANCEL            // Cancel caps-word & auto-layers.
#define DSK_PREV  &hmr LCTRL LG(LC(LEFT)) // Previous desktop.
#define DSK_NEXT  &hmr LALT LG(LC(RIGHT)) // Next     desktop.
#define PIN_WIN   &kp LG(LC(LS(Q)))       // Pin window across desktops.
#define PIN_APP   &kp LG(LC(LS(A)))       // Pin application across desktops.
#define DSK_MGR   &kp LA(GRAVE)           // Desktop manager.
#define VOL_DOWN  &hmr RSHFT C_VOL_DN

/* App shortcut aliases */

#define CUS_P    &kp LC(LA(LS(P)))      // password managers
#define CUS_D    &kp LC(LA(LS(C)))      // ditto clipboard manager
#define CUS_L    &launcher_ht NUM LC(LA(LS(SPACE)))  // tap: launcher | hold: Super+NUM
#define CUS_J    &kp LG(LC(LA(LS(J))))  // windows jumper
#define CUS_W    &kp LC(W)              // close tab
#define CUS_Q    &kp LA(F4)             // terminate window
#define CUS_T    &kp LC(T)              // new tab
#define CUS_F    &hml LCTRL LC(F)       // find
#define CUS_DEL  &hml LSHFT DEL         // delete hml
#define CUS_E    &kp LG(E)              // explorer
#define CUS_R    &kp F2                 // rename
#define CUS_G    &kp LC(LA(TAB))        // swapper

/* Tiling window manager aliases (komorebi / hyprland) */

#define TWM_LEFT    &kp LG(LEFT)
#define TWM_RIGHT   &kp LG(RIGHT)
#define TWM_DOWN    &kp LG(DOWN)
#define TWM_UP      &kp LG(UP)

/* Behavior aliases */

#define MAGIC_SHIFT &magic_shift LSHFT 0
#define SMART_NUM &smart_num NUM 0
